<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About1</title>
    <link rel="stylesheet" type="text/css" href="../public/font_eh0fpcd88eiv0a4i/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../public/css/nav_footer.css">
    <link rel="stylesheet" href="../public/css/about.css">
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-header">
                <div class="nav-bar">
                    <img src="../public/images/logo.png" alt="background"><span>HanChineseGemomes</span>
                    <div class="input-group">
                        <input type="text" placeholder="Keywords">
                        <button>Search</button>
                    </div>
                </div>
                <div class="nav-icon">
                    <button id="toggle-navlist"><i class="iconfont icon-nav"></i></button>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li class="active"><a href="./about.html">About</a></li>
                        <li><a href="./data.html">Data</a></li>
                        <li><a href="./imputation.html">Imputation</a></li>
                        <li><a href="./variant.html">Variant</a></li>
                        <li><a href="./genetic_makeup.html">Genetic-makeup</a></li>
                        <li><a href="./ancestry_inference.html">Ancestry-inference</a></li>
                        <li><a href="./comment.html">Comment</a></li>
                    </ul>
                    <div class="login-self"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="flow">
                <p>Overview of the Han Project</p>
                <img src="../public/images/process.png" alt="flow" class="flow-image">
            </div>
            <div class="project-intro">
                <p class="project-intro-title">Design of the Han Project</p>
                <div class="sample">
                    <p class="project-intro-littletitle"><img src="../public/images/han-2.png" alt="photo"><span>样本集合</span></p>
                    <p>PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human
                        populations. We included miscellaneous functions and a friendly graphical user interface to visualize genomic diversity, population relationship (genetic affinity), ancestral makeup, footprints of natural selection, and population
                        history etc. Moreover, PGG.Population provides a dynamic feature for users to analyze and compare their data to population samples in the database which are updated timely when new data are available. The long-term aim of the PGG.Population,
                        together with the joint efforts from other researchers who publish or re-publish their data and visualize results in a dynamic style via online illustration in our database, is to bridge evolutionary genetic studies to future precision
                        medicine.
                    </p>
                </div>
                <div class="source">
                    <p class="project-intro-littletitle"><img src="../public/images/han-2.png" alt="photo"><span>来源分类</span></p>
                    <p>PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human
                        populations. We included miscellaneous functions and a friendly graphical user interface to visualize genomic diversity, population relationship (genetic affinity), ancestral makeup, footprints of natural selection, and population
                        history etc. Moreover, PGG.Population provides a dynamic feature for users to analyze and compare their data to population samples in the database which are updated timely when new data are available. The long-term aim of the PGG.Population,
                        together with the joint efforts from other researchers who publish or re-publish their data and visualize results in a dynamic style via online illustration in our database, is to bridge evolutionary genetic studies to future precision
                        medicine.
                    </p>
                </div>
                <div class="area">
                    <p class="project-intro-littletitle"><img src="../public/images/han-2.png" alt="photo"><span>区域分类</span></p>
                    <p>PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human
                        populations. We included miscellaneous functions and a friendly graphical user interface to visualize genomic diversity, population relationship (genetic affinity), ancestral makeup, footprints of natural selection, and population
                        history etc. Moreover, PGG.Population provides a dynamic feature for users to analyze and compare their data to population samples in the database which are updated timely when new data are available. The long-term aim of the PGG.Population,
                        together with the joint efforts from other researchers who publish or re-publish their data and visualize results in a dynamic style via online illustration in our database, is to bridge evolutionary genetic studies to future precision
                        medicine.
                    </p>
                </div>
            </div>
            <div class="collaborator">
                <div class="collaborator-pi">
                    <div class="collaborator-pi-left">
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                    </div>
                    <div class="collaborator-pi-middle"><img src="../public/images/han-4.png" alt="photo"></div>

                    <div class="collaborator-pi-right">
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                        <p><img src="../public/images/han-2.png" alt="photo"><span class="pi-name">姓名</span><span class="pi-group">研究组</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
        </div>
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/nav.js"></script>
</body>

</html>