<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment</title>
    <link rel="stylesheet" type="text/css" href="../public/font_eh0fpcd88eiv0a4i/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../public/css/nav_footer.css">
    <link rel="stylesheet" href="../public/css/comment_reply.css">
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-header">
                <div class="nav-bar">
                    <img src="../public/images/logo.png" alt="background"><span>HanChineseGemomes</span>
                    <div class="input-group">
                        <input type="text" placeholder="Keywords">
                        <button>Search</button>
                    </div>
                </div>
                <div class="nav-icon">
                    <button id="toggle-navlist"><i class="iconfont icon-nav"></i></button>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./data.html">Data</a></li>
                        <li><a href="./imputation.html">Imputation</a></li>
                        <li><a href="./variant.html">Variant</a></li>
                        <li><a href="./genetic_makeup.html">Genetic-makeup</a></li>
                        <li><a href="./ancestry_inference.html">Ancestry-inference</a></li>
                        <li class="active"><a href="./comment.html">Comment</a></li>
                    </ul>
                    <div class="login-self"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="comment">
                <div class="return-btn">
                    <button id="reback">All Questions</button>
                </div>
                <div class="comment-content"></div>
                <div class="comment-info">
                    <span class="comment-reply">total <span></span> reply</span>
                    <span class="comment-date-author"><span class="comment-date"></span> by <span class="author"></span></span>
                </div>
            </div>
            <hr style="width:100%;margin:0 auto;opacity: 0.3;">
            <ul class="reply-ul">
                <!-- <li class="reply-li">
                    <div class="reply-content">
                        <span class="reply-author">guoying:</span>
                        <span>you can try it!</span>
                    </div>
                    <div class="reply-info">
                        <a class="reply-opt" href="#">reply</a>
                        <span class="reply-date">2017-12-6</span>
                    </div>
                </li>
                <hr style="width:100%;margin:0 auto;opacity: 0.3;">
                <li class="reply-li">
                    <div class="reply-content">
                        <span class="reply-author">Mr zhang:</span>
                        <span>just do it!</span>
                    </div>
                    <div class="reply-info">
                        <a class="reply-opt" href="#">reply</a>
                        <span class="reply-date">2017-12-6</span>
                    </div>
                </li>
                <hr style="width:100%;margin:0 auto;opacity: 0.3;">
                <li class="reply-li">
                    <div class="reply-content">
                        <span class="reply-author">huangxin:</span>
                        <span>first login in ,then use it!</span>
                    </div>
                    <div class="reply-info">
                        <a class="reply-opt" href="#">reply</a>
                        <span class="reply-date">2017-12-6</span>
                    </div>
                </li>
                <hr style="width:100%;margin:0 auto;opacity: 0.3;">
                <li class="reply-li">
                    <div class="reply-content">
                        <span class="reply-author">sunshine:</span>
                        <span>you can try it!you can try it!you can try it!you can try it!you can try it!you can try it!you can try it!</span>
                    </div>
                    <div class="reply-info">
                        <a class="reply-opt" href="#">reply</a>
                        <span class="reply-date">2017-12-6</span>
                    </div>
                </li>
                <hr style="width:100%;margin:0 auto;opacity: 0.3;"> -->
            </ul>
            <div class="reply-input">
                <input type="text" placeholder="写下你的评论...">
                <button>submit</button>
            </div>
        </div>
        <div class="footer">
            CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
        </div>
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/assert/accuracy.js"></script>
    <script src="../public/js/nav.js"></script>
    <script src="../public/js/comment_reply.js"></script>
</body>

</html>