<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home1</title>
    <link rel="stylesheet" type="text/css" href="../public/font_eh0fpcd88eiv0a4i/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../public/css/nav_footer.css">
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-header">
                <div class="nav-bar">
                    <img src="../public/images/logo.png" alt="background"><span>HanChineseGemomes</span>
                    <div class="input-group">
                        <input type="text" placeholder="Keywords">
                        <button>Search</button>
                    </div>
                </div>
                <div class="nav-icon">
                    <button id="toggle-navlist"><i class="iconfont icon-nav"></i></button>
                </div>
                <div class="nav-list">
                    <ul>
                        <li class="active"><a href="./home.html">Home</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./data.html">Data</a></li>
                        <li><a href="./imputation.html">Imputation</a></li>
                        <li><a href="./variant.html">Variant</a></li>
                        <li><a href="./genetic_makeup.html">Genetic-makeup</a></li>
                        <li><a href="./ancestry_inference.html">Ancestry-inference</a></li>
                        <li><a href="./comment.html">Comment</a></li>
                    </ul>
                    <div class="login-self"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="sample-info">
                <div id="sample-geo"></div>
                <div class="sample-description" id="sample-description">
                    PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human populations. We
                    included miscellaneous functions and a friendly graphical user interface&nbsp;<a href="./about.html">More...</a>
                </div>
            </div>
            <div class="fullSlide">
                <div class="bd">
                    <ul>
                        <li _src="url(../public/images/images/2.jpg)" style="background:transparent center 0 no-repeat;">
                            <a href="#"></a>
                        </li>
                        <li _src="url(../public/images/images/4.jpg)" style="background:transparent center 0 no-repeat;">
                            <a href="#"></a>
                        </li>
                        <li _src="url(../public/images/images/5.jpg)" style="background:transparent center 0 no-repeat;">
                            <a href="#"></a>
                        </li>
                        <li _src="url(../public/images/images/6.jpg)" style="background:transparent center 0 no-repeat;">
                            <a href="#"></a>
                        </li>
                        <li _src="url(../public/images/images/7.jpg)" style="background:transparent center 0 no-repeat;">
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="hd">
                    <ul></ul>
                </div>
                <span class="prev"></span>
                <span class="next"></span>
            </div>
            <!-- <div class="intro">
                <div class="intro-title">Background and introduction of Han nationality subject</div>
                <div class="intro-content">
                    PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human populations. We
                    included miscellaneous functions and a friendly graphical user interface to visualize genomic diversity, population relationship (genetic affinity), ancestral makeup, footprints of natural selection, and population history etc. Moreover,
                    PGG.Population provides a dynamic feature for users to analyze and compare their data to population samples in the database which are updated timely when new data are available. The long-term aim of the PGG.Population, together with
                    the joint efforts from other researchers who publish or re-publish their data and visualize results in a dynamic style via online illustration in our database, is to bridge evolutionary genetic studies to future precision medicine.
                    PGG.Population database documents 7122 genomes representing 356 global populations from 107 countries, and provides necessary information for researchers and medical doctors to understand genomic diversity and genetic ancestry of human
                    populations. We included miscellaneous functions and a friendly graphical user interface to visualize genomic diversity, population relationship (genetic affinity), ancestral makeup, footprints of natural selection, and population
                    history etc. Moreover, PGG.Population provides a dynamic feature for users to analyze and compare their data to population samples in the database which are updated timely when new data are available.
                </div>
            </div> -->
            <div class="pgg-link">
                <div class="pgg-link-logo">
                    <div class="logo-center">
                        <div class="pgg-sv">
                            <img src="../public/images/han-logo.png" alt="logo">
                            <p>PGG.SV</p>
                        </div>
                        <div class="pgg-expression">
                            <img src="../public/images/han-logo.png" alt="logo">
                            <p>PGG.Expression</p>
                        </div>
                        <div class="pgg-snv">
                            <img src="../public/images/han-logo.png" alt="logo">
                            <p>PGG.SNV</p>
                        </div>
                        <div class="pgg-tools">
                            <img src="../public/images/han-logo.png" alt="logo">
                            <p>PGG.Tools</p>
                        </div>
                    </div>
                </div>
                <div class="pgg-link-contact">
                    <p><i>PGG</i>研究组</p>
                    <p>E-mail:pggadmin@picb.ac.cn</p>
                </div>
            </div>
        </div>
        <div class="footer">
            CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
        </div>
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/assert/echarts.min.js"></script>
    <script src="../public/js/assert/superslide.2.1.js"></script>
    <script src="../public/js/nav.js"></script>
    <script src="../public/js/home.js"></script>
</body>

</html>