<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imputation</title>
    <link rel="stylesheet" type="text/css" href="../public/font_eh0fpcd88eiv0a4i/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../public/css/nav_footer.css">
    <link rel="stylesheet" href="../public/css/imputation.css">
</head>

<body>
    <div class="wrap">
        <div class="nav">
            <div class="nav-header">
                <div class="nav-bar">
                    <img src="../public/images/logo.png" alt="background"><span>HanChineseGemomes</span>
                    <div class="input-group">
                        <input type="text" placeholder="Keywords">
                        <button>Search</button>
                    </div>
                </div>
                <div class="nav-icon">
                    <button id="toggle-navlist"><i class="iconfont icon-nav"></i></button>
                </div>
                <div class="nav-list">
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./data.html">Data</a></li>
                        <li class="active"><a href="./imputation.html">Imputation</a></li>
                        <li><a href="./variant.html">Variant</a></li>
                        <li><a href="./genetic_makeup.html">Genetic-makeup</a></li>
                        <li><a href="./ancestry_inference.html">Ancestry-inference</a></li>
                        <li><a href="./comment.html">Comment</a></li>
                    </ul>
                    <div class="login-self"></div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="tolink">
                <p><img src="../public/images/han-2.png" alt="photo"><a href="#">Http://www.PGGtools.org</a></p>
            </div>
            <div class="reference-panel">
                <p class="title">Han reference panel</p>
                <div class="reference-content">
                    <p>This server provides four reference panels which are summaried below:</p>
                    <table>
                        <thead>
                            <tr>
                                <th style="width:20%;">Panel Name</th>
                                <th style="width:20%;">No.Population</th>
                                <th style="width:20%;">No.Sample</th>
                                <th style="width:40%;">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1000 genomes</td>
                                <td>26</td>
                                <td>2504</td>
                                <td>1000 Genomes Project Phase 3</td>
                            </tr>
                            <tr>
                                <td>SGDP</td>
                                <td>57</td>
                                <td>273</td>
                                <td>Simons Genomic Diversity Project</td>
                            </tr>
                            <tr>
                                <td>AAGC</td>
                                <td>12</td>
                                <td>1000</td>
                                <td>Asian Admixture Genomic Consortium</td>
                            </tr>
                            <tr>
                                <td>HAN</td>
                                <td>1</td>
                                <td>100000</td>
                                <td>HAN Project</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer">
            CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
        </div>
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/nav.js"></script>
</body>

</html>