<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/register.css">
</head>

<body>
    <div id="particles-js"></div>
    <div class="wrap">
        <div class="content">
            <div class="left-logo">
                <div class="logo" style="color:#4b2c34;">
                    <p><img src="../public/images/Login_01.png" alt="photo">PGG.SV</p>
                </div>
                <div class="logo" style="color:#649dad;">
                    <p><img src="../public/images/Login_02.png" alt="photo">PGG.Express</p>
                </div>
                <div class="logo" style="color:#4e4e6a;">
                    <p><img src="../public/images/Login_03.png" alt="photo">PGG.SNV</p>
                </div>
                <div class="logo" style="color:#466551;">
                    <p><img src="../public/images/Login_04.png" alt="photo">PGG.Tools</p>
                </div>
            </div>
            <div class="right-content">
                <div class="content-title">
                    <div class="login"><a href="./login.html">Login</a></div>
                    <div class="register title-active"><a href="./register.html">Register</a></div>
                </div>
                <div class="content-main">
                    <div class="register-email">
                        <input type="text" placeholder="E-mail">
                    </div>
                    <div class="check-email"></div>

                    <div class="register-name">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="check-name"></div>

                    <!-- <div class="register-fname">
                        <input type="text" placeholder="First name">
                    </div>
                    <div class="check-fname"></div>

                    <div class="register-lname">
                        <input type="text" placeholder="Last name">
                    </div>
                    <div class="check-lname"></div> -->

                    <div class="register-institution">
                        <input type="text" placeholder="Institution">
                    </div>
                    <div class="check-institution"></div>

                    <div class="register-addr">
                        <input type="text" placeholder="Address">
                    </div>
                    <div class="check-addr"></div>

                    <div class="register-pwd">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="check-pwd"></div>

                    <div class="register-repwd">
                        <input type="password" placeholder="Comfirm Password">
                    </div>
                    <div class="check-repwd"></div>
                </div>
                <div class="content-footer">
                    <input type="button" class="input-btn" value="Submit" id="submit">
                    <p class="intro">The account can also be used for other databases or tools in <label style="color:#F79440;">PGGSuite</label>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/assert/particles.min.js"></script>
    <script src="../public/js/assert/particlesObj.js"></script>
    <script src="../public/js/register.js"></script>
</body>

</html>