.main-content {
    width: 100%;
    padding: 0;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.main-content .sider-bar .tab-bar {
    display: inline-block;
    list-style: none;
    width: 100%;
    background: #ddd;
}

.main-content .sider-bar .tab-bar li {
    width: 25%;
    float: left;
}

.main-content .sider-bar .tab-bar li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px 0 12px 0;
    color: #666;
    cursor: pointer;
}

.main-content .sider-bar .tab-bar li .line {
    opacity: 0;
}

.main-content .sider-bar .tab-bar li a:hover {
    font-weight: bolder;
    color: #444;
}

.main-content .sider-bar .tab-bar li.active-bar a {
    font-weight: bolder;
    color: #444;
}

.main-content .sider-bar .tab-bar li.active-bar .line {
    width: 65px;
    margin: 0 auto;
    height: 3px;
    background: #bf5640;
    border: none;
    opacity: 1;
}

.main-content .sider-content .tab-content .self-info-view,
.main-content .sider-content .tab-content .self-info-edit,
.main-content .sider-content .tab-content .self-pwd-edit {
    width: 80%;
    margin: 30px auto;
}

.main-content .sider-content .tab-content .self-info-view .info,
.main-content .sider-content .tab-content .self-info-edit .info,
.main-content .sider-content .tab-content .self-pwd-edit .info {
    width: 100%;
    padding: 6px 0;
    display: inline-block;
}

.main-content .sider-content .tab-content .self-info-view .info span,
.main-content .sider-content .tab-content .self-info-edit .info span,
.main-content .sider-content .tab-content .self-pwd-edit .info span {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    color: #444;
    float: left;
}

.main-content .sider-content .tab-content .self-info-view .info input,
.main-content .sider-content .tab-content .self-info-edit .info input,
.main-content .sider-content .tab-content .self-pwd-edit .info input {
    width: 70%;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #ddd;
    float: left;
    font-size: 16px;
    padding-left: 10px;
}

.main-content .sider-content .tab-content .self-pwd-edit .v-code input {
    width: 35%;
}

.main-content .sider-content .tab-content .self-pwd-edit .v-code button {
    width: 35%;
    height: 40px;
    box-sizing: border-box;
    float: left;
    background: #bf5640;
    color: #fff;
    border: none;
}

.main-content .sider-content .tab-content .self-info-edit .self-info-submit button,
.main-content .sider-content .tab-content .self-pwd-edit .self-pwd-submit button {
    width: 100%;
    background: #bf5640;
    color: #fff;
    border: none;
    height: 40px;
    margin-top: 20px;
}

.main-content .sider-content .tab-content .reply-ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.main-content .sider-content .tab-content .reply-ul .reply-li {
    padding: 1em 0;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-content {
    line-height: 1.4em;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-content .reply-headinfo {
    font-size: 14px;
    color: #444;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-content .reply-headinfo .reply-author {
    font-weight: bolder;
    color: #bf5640;
    font-size: 16px;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-info {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    line-height: 1.4em;
    font-size: 14px;
    color: #999;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-info .reply-opt {
    width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
    text-decoration: none;
    color: #999;
    cursor: pointer;
}

.main-content .sider-content .tab-content .reply-ul .reply-li .reply-info .reply-date {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: left;
}

@media (min-width:768px) {
    .main-content {
        /* padding: 20px 40px; */
        padding-bottom: 80px;
    }
    .main-content .sider-bar .tab-bar {
        background: #f5f8f9;
        width: 20%;
        float: left;
        padding-top: 30px;
    }
    .main-content .sider-bar .tab-bar li {
        width: 100%;
    }
    .main-content .sider-content .tab-content {
        width: 80%;
        float: left;
    }
}

@media (min-width:992px) {}

@media (min-width:1200px) {
    .main-content {
        width: 1170px;
        margin: 0 auto;
        /* padding: 20px 0px; */
        padding-bottom: 80px;
    }
}